{% extends 'registration/base.html' %}



{% block body_block %}
<div class="col-md-6 col-lg-3">
</div>
<div class="col-md-6 col-lg-6">
<p>Kenda is a technology driven enterprise, creating solutions to problems that we face in our day to day life.</p>

<p> Kondisha is a real estate web product of Kenda.</p>

<p> Here at Kondisha, We believe in making life better and easier and to do so, we make it our business to ensure you have better shelter, business premises, or   office.</p>
</br>
</br>
<p>We endevour to connect you with real estate agents and give you an opportunity to view their listing at any particular time.</p>
</br>
</br>
<p>We give you an updated listing. </p>
<p>We strive and collect data to provide you with upto date list of available spaces to choose from.</p>
</br>

</br>
<p>You are our priority.</p>


</div>
<div class="col-md-6 col-lg-3">
</div>


{% endblock %}
