{% extends 'registration/base.html' %}



{% block body_block %}
<div class="col-md-6 col-lg-3">
</div>
<div class="col-md-6 col-lg-6">

<p>We have tried to make this site navigation as simple as possible. </p>
<p>To view our listing you do not have to be registered. However, If you need to make an entry you should first register. </p>
</br>
<p> This is a simple tutorial of the site </p>
<ul>
<li>To register. Follow this link to <a href="/main/register">Register </a></p> </li>

<li>To Login. Follow this link to <a href="/main/login">Login </a></p> </li>

<li>To post or make an entry to the listing, you must first register, login to home and click on the post button on the top right corner. </p> </li>

<li>To Contact us. </li>
<ul></br>

    <div class="row">
<p>call us or talk to us on social media</p>
          <div class="col-lg-2 text-center">
            <i class="fa fa-phone fa-3x wow bounceIn"></i>
            
          </div>
          <div class="col-lg-2 text-center">
            <i class="fa fa-twitter fa-3x wow bounceIn"></i>
            
          </div>
          <div class="col-lg-2 text-center">
            <i class="fa fa-linkedin fa-3x wow bounceIn"></i>
            
          </div>
          <div class="col-lg-2 text-center">
            <i class="fa fa-facebook fa-3x wow bounceIn"></i>
        
          </div>
          <div class="col-lg-2 text-center">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          
          </div>
        </div>
</br>

<p>Enjoy our services </p>

</div>
<div class="col-md-6 col-lg-3">
</div>

{% endblock %}
